@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'poppins', 'sans-serif';
}
button{
    border-style: none;
}


.sticky{
    background-color: #FFEACB !important;
    position: fixed !important;
    top: 0;
    left: 0;
}


@media (min-width: 900px) {
    .sticky{
        background-color: #FFEACB !important;
        position: fixed !important;
        height: 80px !important;
        top: 0;
        left: 0;
    }
}