@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'poppins', 'sans-serif';
}
button{
    border-style: none;
}
input{
 outline: none;
}


.sticky{
    background-color: #946621 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    
}
.sticky *{
    color: white
}


@media (min-width: 900px) {
    .sticky{
        background-color: #AD7F3C !important;
        position: fixed !important;
        height: 80px !important;
        top: 0;
        left: 0;
    }
}

.float1{
    animation: float1 infinite alternate 2.5s ease;
}
.float2{
    animation: float2 infinite alternate 2s ease;
}
.shown{
    display: block !important;
    animation: float1 1s ease forwards;
}
@keyframes float1 {
    from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-20px);
      }
}

@keyframes float2 {
    from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-15px);
      }
}
.flex-flow-1 {
    flex-flow: row wrap;
}